{% extends 'eLearningApp/base.html' %}
{% block content %}
<!--breadcrumbs start-->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-4">
				<h1>Course User Dashboard</h1>
			</div>
		</div>
	</div>
</div>

<div class="registration-bg">
	<div class="container">
        <div class="container w">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 mydash">
                    <a href="{% url 'course_listing' %}" class="btn btn-default btn-circle"><div>Course<br>List</div></a>
                   {# {% url 'course_listing' id %} #}
                </div><!--/.col-->
                <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 mydash">
                    <a href="{% url 'add_course' %}" class="btn btn-default btn-circle"><div>Add<br>Courses</div></a>
                </div><!--/.col-->
                <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 mydash">
                    <a href="{% url 'logOut'%}" class="btn btn-default btn-circle" style="padding-top:13px;"><div>Logout</div></a>
                </div><!--/.col-->
                
            </div><!-- row -->				  
    
            <br>
            <br>
        </div>

    </div>

</div>
{% endblock content %}