{% extends 'eLearningApp/base.html' %}

{% block content %}


<h1>In the Edit Page</h1>
<form method='POST' enctype="multipart/form-data">
    {{ form.as_p }}
    <button type="submit">Save Item</button>
    {% csrf_token %}
</form>
<br/><a href="{% url 'delete' pk=pkToDelete %}"><button>Delete Item</button> </a>
<a href="{% url 'related' %}"><button>Add Related Item</button></a>


<br/><a href="{% url 'dashboard' %}"><button>Go Home</button></a>
<a href="{% url 'course_listing' %}"><button>{{user.username}} Course Page </button></a>
{% endblock %}